
.about{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    max-width: 100vw;
}

.about > p{
    margin-left: 5rem;
    max-width: 55ch;
    min-width: 200px;
    text-align:justify;
    font-size: 1.25em;
    line-height: 2.1rem;
}
.about > img{
    min-height:400px;
    max-height:40vw;
    opacity: 0.6;
    z-index: 1;
    border-bottom-left-radius: 50px;  
    border-top-right-radius: 50px;  
}

@media screen and (max-width:1000px) {
    .about{
        flex-direction: column;
    }.about > p{
        max-width: 85vw;
        margin-left: 0;
        margin-bottom:8rem;
    }
}