.footer{
    position:fixed;
    bottom:0;
}
.contact-icons{
    padding: 1rem;
    display: flex;
    justify-content: center;
    width:100vw;
}
svg{
    margin:0 1rem;
    padding:0.5rem;
    height:50px;
    width:50px;
    border:3px solid black;
    border-radius: 5px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background: var(--clr-accent-500);
    fill: black;
    
}
svg:hover{
    fill: white;
    background: var(--clr-primary-400);
}