
.navlinks{
    padding-left:2rem;
    position: absolute;
    top:0;
    right:0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    background-color: var(--clr-primary-400);
    border-bottom-left-radius: 5em;
    animation: nav 4s forwards ease;
}
@keyframes nav {
    0%{
        transform: translateX(600px);
    }
    100%{
        transform: translateX(0px);
    }
    
}
.navlinks > *{
    margin-bottom: 0.125rem;
    padding:1.2rem 1.5rem;
    color: var(--clr-font-500);
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
}
a{
    padding:0;
    margin:0;
    text-decoration: none;
    background: none;
    color:var(--clr-font-500);
}
button{
    border: none;
    background: none;
}

.active{
    animation: colorshift 1600ms alternate infinite linear;
}
@keyframes colorshift {
    0%{
        color: var(--clr-font-500);

    }
    100%{
        color: var(--clr-primary-700);
        
    }
    
}