:root{
  --clr-accent-500:hsl(171, 90%, 40%);
  --clr-primary-400:hsl(271, 90%, 40%);
  --clr-primary-600:hsl(271, 90%, 60%);
  --clr-primary-700:hsl(271, 90%, 70%);
  --clr-font-500:hsl(0,0%,92%)
}
*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background: var(--clr-accent-500);
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  
}

svg{
  margin:0 1rem;
  padding:0.75rem;
  height:50px;
  width:50px;
  border:3px solid black;
  border-radius: 5px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background: var(--clr-accent-500);
  fill: black;
  stroke:black;
  
}
svg:hover{
  fill: white;
  stroke:white;
  background: var(--clr-primary-400);
}
